:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --primary-color:#ee4d2d;
    --border-color:#dbdbdb;

    --navbar-height:34px;
    --header-height:120px;
    --search_bar-height:calc(var(--header-height) - var(--navbar-height))
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
}


/* Modal */

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* display: flex; */
    display: none;
    animation: fadeIn linear 0.1s;
}

.modal-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: 1;
}

.modal-body{
    --growth-from:0.7;
    --grwoth-to:1;
    background-color: var(--white-color);
    border-radius: 5px;
    margin: auto;
    z-index: 2;
    animation: growth linear 0.1s;
}

/* Button */
.btn{
    min-width: 142px;
    line-height: 1.9rem;
    height: 34px;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 1px;
    outline: none;
    color: var(--text-color);
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn.btn-normal:hover{
    background-color:rgba(0, 0, 0, 0.05);
}

.btn.btn--s-s{
    height: 32px;
    font-size: 1.2rem;
    text-decoration: none;
}

.btn.btn-primary{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn.btn-disabled{
    color: #949494;
    background-color: #c3c3c3;
}
/* Animation */
@keyframes fadeIn{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

@keyframes growth{
    from{
        transform: scale(var(--growth-from));
    }to{
        transform: scale(var(--growth-to));
    }
}

/* text */
.t-uppercase{
    text-transform: uppercase;
}

.t-primary{
    color:var(--primary-color)
}