.header{
    height: var(--header-height);
    background-image: linear-gradient(0,#fe6433,#f53e2d);
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar-list{
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
}

.navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.navbar-item-link,
.navbar-item{
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.navbar-icon,
.navbar-item-link,
.navbar-item{
    display: inline-flex;
    align-items: center;
}


.navbar-item-link:hover,
.navbar-item:hover{
    color:rgba(255, 255, 255, .7);
    cursor: pointer;
}

.navbar-item--text{
    cursor: text;
    color: var(--white-color);
}

.bold{
    font-weight: 400;
}
.seperate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #fb9086;
    height: 14px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);

}

.navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
}

.navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}

/* QR Code Container */

.qr-code-hover:hover
.qr-code-container {
    display: block;
}

.qr-code-container{
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease .3s;
}

.qr-code-container::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 20px ;
    top: -16px;
    left: 0;
    display: block;


}

.qr-code-img{
    width: 100%;
}

.qr-app{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.qr-download-img{
    width: 100%;
    height: 40px;
}

/* Notification */
.notify{
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    border: 1px solid #d3d3d3;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 20px) top  ;
    animation: notifyAnimation ease-in .25s;
    will-change: opacity , transform;
    display: none;
    z-index: 3;
}

/* Triangle Up*/
.notify::before{
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 0px;
    top: -30px;
}

/*  */
.notify::after{
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    right: 0;
    height: 20px;
    top: -16px;
}

@keyframes notifyAnimation {
    from {
        opacity: 0;
        transform: scale(0);
    }to{
        opacity: 1;
        transform: scale();
    }
}

.notify-hover:hover .notify{
    display: block;
}

.notify-header{ 
    height: 40px;
    background-color: var(--white-color);
}

.notify-header h3{
    color: #999;
    font-size: 1.6rem;
    margin: 0 0 0 12px;
    font-weight: 400;
    line-height: 40px;
}

.notify-list{
    padding-left: 0;
}

.notify-item{
    display: flex;
}

.notify-item:hover{
    background-color: #f7f7f7;
}

.notify-item--viewed{
    background-color: rgba(238, 75, 43, 0.08);
}

.notify-item-link{
    display: flex;
    padding: 12px;
    width: 100%;
    text-decoration: none;
}

.item-img{
    width: 48px;
    object-fit: contain;
}

.item-info{
    margin-left: 12px;
}

.item-name{
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: var(--black-color);
}

.item-desc{
    display: block;
    margin-top: 4px;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756f6e;
}


.notify-footer{
    display: flex;
}

.notify-footer-btn{
    margin: auto;
    width: 100%;
    font-weight: 400;
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 0;
    text-align: center;
}

/* modal */
.auth-form{
    width: 500px;
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--white-color);
}

.form-container{
    padding: 0 32px;
}

.form-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-heading{
    padding: 0 12px;
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.form-switch-btn{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}

.form-body{

}

.form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.form__input:focus{
    border-color: #888;
}

.form-aside{
    margin-top: 18px;
}

.form-policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.form-policy-link{
    color: var(--primary-color);
    text-decoration: none;
}

.form-controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.form-controls-back{
    margin-right: 8px;
}

.social-login{
    background-color: #f5f5f5;
    margin-top: 24px;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
}

.form-icon{
    font-size: 1.8rem;
    padding: 0 12px;
}

.btn-facebook{
    color: var(--white-color);
    background-color: #3a5a98;
}

.btn-google{
    color: #666;
    background-color: var(--white-color);
}

.btn-facebook
.form-icon{
    color: var(--white-color);

}

.social-login-title{
    margin: 0 16px;
    font-size: 1.2rem;
}
/* login modal */
.form-help{
    display: flex;
    justify-content: flex-end;
}

.help-link{
    text-decoration: none;
    font-size: 1.4rem;
}

.seperate-block{
    display: block;
    margin: 0 16px;
    height: 16px;
    border-left: 1px solid var(--border-color);
}


/* Search */
.search{
    display: flex;
    align-items: center;
    height: var(--search_bar-height);
    margin: 0 8px;
}

.logo{
    width: 200px;
}

.logo-img{
    width: 150px;
    color: var(--white-color);
}

.search-input{
    flex:1;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
}
.cart{
    width: 150px;
    text-align: center;
}

/* Cart drop down */

.cart-wrap{
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 0 8px;
}

.cart-wrap:hover .cart-list{
    display: block;
}

.cart-notice{
    position: absolute;
    top: -4px;
    right: -4px;
    padding: 1px 7px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #ee4d2d;
    color: var(--primary-color);
    background-color: var(--white-color);
}

.cart-list{
    cursor: default;
    position: absolute;
    /* display: none; */
    top: calc(100% + 6px);
    right: -8px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, .2) ;
}

.cart-list::after{
    cursor: pointer;
    content: "";
    position: absolute;
    right: 4px;
    top: -32px;
    border-width: 24px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.cart-list--empty{
    padding: 28px 0;
}

.cart-list--empty .empty-cart-img,
.cart-list--empty .empty-cart-msg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.empty-cart-img{
    width: 60%;
    display: none;
}

.empty-cart-msg{
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}   

.icon-cart{
    color: var(--white-color);
    font-size: 2.4rem;
    margin-top: 8px;
}


/* Cart-list item */
.list-item{
    padding-left: 0;
    list-style: none;

}

.cart-item{

    display: flex;
    align-items: center;
}

.cart-item:hover{
    background-color: #f8f8f8;
}

.item-img{
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #e8e8e8;
}

.item-info{
    width: 100%;
    margin-right: 12px;
}

.item-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-name{
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0;
    color: var(--text-color);
}
.item-price--wrap{
}

.item-price{
    
    font-size: 1.4rem;
    color: var(--primary-color);
}

.item-multiply{
    font-size: 0.9rem;
    color: #757575;
    margin: 0 4px;
}

.item-quatity{
    color: #757575;
    font-size: 1.2rem;
}

.item-body{
    display: flex;
    justify-content: space-between;
}

.item-desc{
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;

}

.item-remove{
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
}

.item-remove:hover{
    cursor: pointer;
    color: var(--primary-color);
}


.item-cart-view{
    float: right;
    margin: 0 12px 12px 0;
}

.item-cart-view:hover{
    background-color: #f05d41;
}

.search-input-wrap{

    flex: 1;
    height: 100%;
    position: relative;
}

.search-txt{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.search-select{
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
    
}

.search-select-label{
    font-size: 1.4rem;
    color: var(--text-color);
}

.search-select:hover .search-option{
    display: block;
    
}
.search-option{
    position: absolute;
    top: 100%;
    right: 0;
    list-style: none;
    width: 130px;
    box-shadow: 0 1px 3px #ccc;
    padding-left: 0;
    /* overflow: hidden; */
    display: none;
    animation: fadeIn ease-in 0.2s;
}

.search-option::after{
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    /* background-color: red; */
    top: -10px;
    left: 0;
    position: absolute;
}
.option-item{
    background-color: var(--white-color);
    padding: 8px 8px;
    /* border-radius: 3px; */
    font-size: 1.4rem;
}

.option-item:first-child{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.option-item:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.option-item i{
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.option-item:hover{
    background-color: #fafafa;
    cursor: pointer;
}

.option-item--check i {
    display: inline-block;
}
/*  */

.select-icon{
    font-size: 1.4rem;
    color: #4a4a4a;
    margin: 0 16px;
}

.search-btn{
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    border-radius: 3px;
    padding: 8px;
    margin-right: 3px;
    width: 60px;
    outline: none;
}

.search-btn:hover{
  background-color: #fb6445;
  
  cursor: pointer;
}

.search-icon{
    font-size: 1.4rem;
    color: var(--white-color);
}

/* Search-history */

/* .search-txt:focus~.header-search-history{
    display: block;
} */

.search-txt:focus ~ .header-search-history{
    display: block;
}

.header-search-history{
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 1px 5px rgb(189, 189, 189);
    display: none;
}

.search-history-heading{
    margin: 6px 16px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.search-history-list{
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0 ;

}

.search-history-item{
    height: 32px;
    padding: 0 16px;
}

.search-history-item:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.search-history-item:hover{
    background-color: #fafafa;
}

.search-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 32px;
    display: block;
}

