.header{
    height: 120px;
    background-image: linear-gradient(0,#fe6433,#f53e2d);
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar-list{
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
}

.navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.navbar-item-link,
.navbar-item{
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.navbar-icon,
.navbar-item-link,
.navbar-item{
    display: inline-flex;
    align-items: center;
}


.navbar-item-link:hover,
.navbar-item:hover{
    color:rgba(255, 255, 255, .7);
    cursor: pointer;
}

.navbar-item--text{
    cursor: text;
    color: var(--white-color);
}

.bold{
    font-weight: 400;
}
.seperate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #fb9086;
    height: 14px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);

}

.navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
}

.navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}

/* QR Code Container */

.qr-code-hover:hover
.qr-code-container {
    display: block;
}

.qr-code-container{
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease .3s;
}

.qr-code-container::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 20px ;
    top: -16px;
    left: 0;
    display: block;


}

.qr-code-img{
    width: 100%;
}

.qr-app{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.qr-download-img{
    width: 100%;
    height: 40px;
}

/* Notification */
.notify{
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    border: 1px solid #d3d3d3;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 20px) top  ;
    animation: notifyAnimation ease-in .25s;
    will-change: opacity , transform;
    display: none;
}

/* Triangle Up*/
.notify::before{
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 0px;
    top: -30px;
}

/*  */
.notify::after{
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    right: 0;
    height: 20px;
    top: -16px;
}

@keyframes notifyAnimation {
    from {
        opacity: 0;
        transform: scale(0);
    }to{
        opacity: 1;
        transform: scale();
    }
}

.notify-hover:hover .notify{
    display: block;
}

.notify-header{ 
    height: 40px;
    background-color: var(--white-color);
}

.notify-header h3{
    color: #999;
    font-size: 1.6rem;
    margin: 0 0 0 12px;
    font-weight: 400;
    line-height: 40px;
}

.notify-list{
    padding-left: 0;
}

.notify-item{
    display: flex;
}

.notify-item:hover{
    background-color: #f7f7f7;
}

.notify-item--viewed{
    background-color: rgba(238, 75, 43, 0.08);
}

.notify-item-link{
    display: flex;
    padding: 12px;
    width: 100%;
    text-decoration: none;
}

.item-img{
    width: 48px;
    object-fit: contain;
}

.item-info{
    margin-left: 12px;
}

.item-name{
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: var(--black-color);
}

.item-desc{
    display: block;
    margin-top: 4px;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756f6e;
}


.notify-footer{
    display: flex;
}

.notify-footer-btn{
    margin: auto;
    width: 100%;
    font-weight: 400;
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 0;
    text-align: center;
}